<section class="login-wrapper">
  <div class="login-contain text-center">
    <div class="login-block">
   
      <form class="text-left">

        <div class="ibox-wrapper">

          {{input type="text" class="form-control txt" name="username" value=credentials.username placeholder="Email"}}

    
        </div>
        <!-- Name -->

        <div class="ibox-wrapper">
   
          {{input type="password" class="form-control pw" name="password" placeholder="Password" value=credentials.password}}
         
        </div>
        <!-- Password -->




        <!-- login-hepl end -->
        <div class="ibox-wrapper">
          <!-- sign up -->
          <!-- <span class="col-xs-12"> -->
            <button class="green-bg btn-padding" {{action "login" credentials}}>Login</button>
          <!-- </span> -->
          <!-- login -->
        </div>


      </form>
    </div>
  </div>
</section>