<section class="login-wrapper">
  <div class="login-contain text-center">
    <div class="login-block">
      <form class="text-left">
        <div class="ibox-wrapper">
          {{input type="text" class="form-control txt" name="username" value=credentials.username placeholder="Email"}}
        </div>
        <div class="ibox-wrapper">
          {{input type="password" class="form-control pw" name="password" placeholder="Password" value=credentials.password}}
        </div>
        <div class="ibox-wrapper">
            <button class="green-bg btn-padding" {{action "login" credentials}}>Login</button>
        </div>


      </form>
    </div>
  </div>
</section>